.*.swp
.*.swo
bin
lib
CANopen/Release
CANopen/Debug
fcrts/Release
fcrts/Debug
ioData/Release
ioData/Debug
ioTest/Release
ioTest/Debug
osKernel/Release
osKernel/Debug
osShared/Release
osShared/Debug
vmKernel/Release
vmKernel/Debug
vmLib/Release
vmLib/Debug
