// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define __XENO__
#define XENO_RTDM 1
#undef DEBUG
#define _SOF_4CPC_SRC_ 1
#define RTS_CFG_TASK_IMAGE
#define RTS_CFG_IO_LAYER
#define RTS_CFG_WRITE_FLAGS
#define RTS_CFG_WRITE_FLAGS_PI
#define RTS_CFG_DEBUG_GPIO
#define RTS_CFG_LINUX
#include "inc/osDef.h"
#undef CM__DEBUG_GPIO
